{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="text-center py-5">
    <div class=" py-lg-5">
      <div class="col-lg-10 mx-auto">
         <h2 class="featurette-heading">About the CSO</h2>
          <p class="lead">These are all of our current projects. Members are able to join any project they want. If you are interested in starting your own project, contact ..</p>
           <p class="lead">Our organization is constantly working together on new projects for the members to learn
                    new skills and make friends along the way. Each member brings their own set of skills and
                    experiences. </p>
      </div>
    </div>
  </div>





{% endblock %}