{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
  <!-- Events Carousel Block Start-->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <tbody>
          <tr>
            <td>
              <h1 class="slideHeader">Extra-Life Charity Stream November 13th</h1>
            </td>
          </tr>
          <tr>
            <td>
              <img class="first-slide slideImg" src="{% static 'images/cso_stream.png' %}" alt="First slide">
              <div class="container">
                <div class="carousel-caption text-left">
                  <table classs="table">
                    <tbody>
                      <tr>
                        <td class="btnTable">
                          <p><a class="btn btn-lg btn-primary" href="https://www.twitch.tv/esucso" target="_blank"
                              role="button">Twitch Link</a></p>
                        </td>
                        <td>
                          <p><a class="btn btn-lg btn-primary"
                              href="https://www.extra-life.org/index.cfm?fuseaction=donordrive.team&teamID=56538"
                              target="_blank" role="button">Donate</a></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
      </div>
      <div class="carousel-item">
        <tbody>
          <tr>
            <td>
              <h1 class="slideHeader">Extra-Life Charity Stream November 13th</h1>
            </td>
          </tr>
          <tr>
            <td>
              <img class="first-slide slideImg" src="{% static 'images/cso_stream.png' %}" alt="First slide">
              <div class="container">
                <div class="carousel-caption text-left">
                  <table classs="table">
                    <tbody>
                      <tr>
                        <td class="btnTable">
                          <p><a class="btn btn-lg btn-primary" href="https://www.twitch.tv/esucso" target="_blank"
                              role="button">Twitch Link</a></p>
                        </td>
                        <td>
                          <p><a class="btn btn-lg btn-primary"
                              href="https://www.extra-life.org/index.cfm?fuseaction=donordrive.team&teamID=56538"
                              target="_blank" role="button">Donate</a></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
      </div>
      <div class="carousel-item">
        <tbody>
          <tr>
            <td>
              <h1 class="slideHeader">Extra-Life Charity Stream November 13th</h1>
            </td>
          </tr>
          <tr>
            <td>
              <img class="first-slide slideImg" src="{% static 'images/cso_stream.png' %}" alt="First slide">
              <div class="container">
                <div class="carousel-caption text-left">
                  <table classs="table">
                    <tbody>
                      <tr>
                        <td class="btnTable">
                          <p><a class="btn btn-lg btn-primary" href="https://www.twitch.tv/esucso" target="_blank"
                              role="button">Twitch Link</a></p>
                        </td>
                        <td>
                          <p><a class="btn btn-lg btn-primary"
                              href="https://www.extra-life.org/index.cfm?fuseaction=donordrive.team&teamID=56538"
                              target="_blank" role="button">Donate</a></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" carousel-control-icon-width = "20" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Events Carousel Block End-->

  <!--News Card Tiles Block Start -->
  <div class="album py-5">
    <div class="container">
      <!--News Card Top Left Start -->
      <div class="row">

        {% for article in NewsArticles %}
        <!--News Card Top Middle Start-->
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="{{article.image.url}}" alt="{{article.title}}">
              <div class="card-body">
                <p class="card-text">{{article.content}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    {% if user.is_superuser %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit/Delete</button>
                    {%endif %}
                  </div>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
  <!--News Card Tiles Block End -->


</main>

{% endblock %}