{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Web page content starts here. Remove the commented lines and the redirect script below. 
  Do not remove the other lines as they are needed for the page to render correctly. The 
  backend has already been setup to allow Django to utilize this page. If you have any 
  questions or need any help put a message in the #Website channel in Discord or check 
  out the wiki on our GitHub. https://github.com/esu-cso/ -->
<script>window.location.href = "{% url 'underconstruction' %}" </script> 

{% endblock %}