{% load static %}
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'css/bencherninCSS.css' %}"/>
</head>
<body>
  <div class="titleContainer">
    <img class="FNImage" src="{% static 'images/bencherninCSS_Images/35002.jpg' %}" alt="">
  </div>

  <div class="parastop row">
    <div class="col-6">
      <img class="selfie" src="{% static 'images/bencherninCSS_Images/IMG_0023.jpg' %}" alt="">
    </div>
    <div class="col-6 rightDiv">
      <h3>About Me</h3>
      <p>I am an college undergraduate student attending East Stroudsburg University of Pennsylvania. I am currently majoring in Computer Science. My interests and hobbies include martial arts, web development, graph design, D&D and pretty much anything sci-fi or fantacy related.</p>
    </div>
  </div>

  <div class="parasmid row">
    <div class="col-6 leftDiv">
      <h3>Goals</h3>
      <p>One day, I hope to become a proficient programmer in whatever field I choose. I wish to expose myself as much as possible to many different aspects of computer science so that I can find what's right for me. And maybe one day, if I have the time for it, I could run my own Taekwondo school part-time alongside my programming carreer.</p>
    </div>
    <div class="col-6">
      <img class="homerPic" src="{% static 'images/bencherninCSS_Images/SimpsonComp.gif' %}" alt="">
    </div>
  </div>

  <div class="parasbot row">
    <div class="col-6">
      <img class="tkdPic" src="{% static 'images/bencherninCSS_Images/TKD_GIF.gif' %}" alt=""/>
    </div>
    <div class="col-6 rightDiv">
      <h3>Experiences</h3>
      <p>When it comes to Taekwondo, I have been training for over 15 years now and have been teaching it to others for over 10 years. When it comes to computer science, I realize that I do not have much in terms of proffessional experience. However, ever since I have picked up the major, I have tried to take every learning opportunity I can get and strive to become the best programmer I can be.</p>
    </div>
  </div>
</body>
</html>
