<!DOCTYPE html>
<html>
    <head>
        <title>Gabriel Quadrino</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <p>I am Gabriel Quadrino, a senior computer science major and a transfer student from RIT.<br></p>
        <h2>Personal Projects:</h2>
        <ul>
            <li>This webpage!</li>
            <ul>
                <li>Work in progress</li>
            </ul>
            <li>Personal project (TBD)</li>
            <li>Arcade Arcade</li>
            <ul>
                <li>Made with C# in Unity</li>
                <li>Galaga clone</li>
            </ul>
            <li>Smash Clone</li>
            <ul>
                <li>Made with C# in Unity</li>
                <li>Nintendo Super Smash clone</li>
                <li>Made for 2022 ESU Game Jam</li>
            </ul>
        </ul>
        <h2>My hobbies include:</h2>
        <ul>
            <li>Video Games</li>
            <li>Browsing Google Maps for hours</li>
            <li>Video Games</li>
            <li>Long walks on the beach</li>
            <li>Video Games</li>
        </ul>
    </body>
</html>