<!DOCTYPE html>
<html>
    <head>
        <title>Gabriel Quadrino</title>
        <link type="text/css" href="gabrielquadrino.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome!</h1>
        <h2>I am Gabriel Quadrino, a senior computer science major and a transfer student from RIT.<br></h2>
        <h3>Personal Projects (can be found <a href="https://github.com/Serpent317" target="_blank">here</a>):</h3>
        <ul>
            <li>This webpage!</li>
            <ul>
                <li>Work in progress</li>
            </ul>
            <li>Google Extension</li>
            <ul>
                <li>Work in progress</li>
                <li>For when you need homework solutions and a way to filter out pesky results like Chegg that will charge you.</li>
            </ul>
            <li>Arcade Arcade</li>
            <ul>
                <li>Made with C# in Unity</li>
                <li>Galaga clone</li>
            </ul>
            <li>Smash Clone</li>
            <ul>
                <li>Made with C# in Unity</li>
                <li>Nintendo Super Smash clone</li>
                <li>Made for the <a href="https://itch.io/jam/esu-cso-game-jam" target="_blank">ESU CSO Game Jam</a></li>
            </ul>
        </ul>
        <h3>My hobbies include:</h3>
        <ul>
            <li>Video Games</li>
            <li>Browsing Google Maps for hours</li>
            <li>Video Games</li>
            <li>Long walks on the beach</li>
            <li>Video Games</li>
        </ul>
    </body>
</html>