{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark text-center">
            <div class="col-md-6 px-0">
              <h1 class="display-4 font-bold">Member Pages</h1>
              <p class="lead my-3">On this page, we have links to many of our members' pages</p>
            </div>
          </div>

        <div class="row mb-2">
            <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-center">
                <strong class="d-inline-block mb-2 text-primary">PRESIDENT</strong>
                <h3 class="mb-0">
                    <a class="text-dark">John Winward</a>
                </h3>
                <a href="{% url 'johnwinward' %}">Webpage</a>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-center">
                <strong class="d-inline-block mb-2 text-primary">VICE PRESIDENT</strong>
                <h3 class="mb-0">
                    <a class="text-dark">Amelio Cintron</a>
                </h3>
                <a>NO WEBPAGE FOUND</a>
                </div>
            </div>
            </div>
            
            <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-center">
                <strong class="d-inline-block mb-2 text-primary">PROJECT MANAGER</strong>
                <h3 class="mb-0">
                    <a class="text-dark">Logan Keim</a>
                </h3>
                <a href="{% url 'logankeim' %}">Webpage</a>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-center">
                <strong class="d-inline-block mb-2 text-primary">TREASURER</strong>
                <h3 class="mb-0">
                    <a class="text-dark">Ben Chermin</a>
                </h3>
                <a>NO WEBPAGE FOUND</a>
                </div>
            </div>
            </div>
            
            <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-center">
                <strong class="d-inline-block mb-2 text-primary">SECRETARY</strong>
                <h3 class="mb-0">
                    <a class="text-dark">Noah Rush</a>
                </h3>
                <a>NO WEBPAGE FOUND</a>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-center">
                <strong class="d-inline-block mb-2 text-dark">MEMBER</strong>
                <h3 class="mb-0">
                    <a class="text-dark">Paige Maute</a>
                </h3>
                <a href="https://maute.us/paige/">Webpage</a>
                </div>
            </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-center">
                    <strong class="d-inline-block mb-2 text-dark">MEMBER</strong>
                    <h3 class="mb-0">
                        <a class="text-dark">William Youse</a>
                    </h3>
                    <a href="{% url 'williamyouse' %}">Webpage</a>
                    </div>
                </div>
                </div>
        </div>
    </div>

{% endblock %}
