<html>
    <body style="background-color: 3D3D3D;">

    </body>
        <h1 style = "color:cyan">I'm William, and this is my member page.</h1>
        <p style="color: coral">
            Why are you here? Who sent you? <strong><i> WHY WERE YOU SENT? </i></strong>
            <br>I'm just kidding... slightly.
            <br>Welcome to my page! I like to do a lot of things, including:

            <div class="row featurette">
                <ul style="color:darkcyan;font-size:120%">
                    <li>Playing D&D (Dungeons & Dragons)</li>
                    <li>Thinking about funny little robots</li>
                    <li>Working on getting my degree in Computer Science</li>
                    <li>Atoning for past mistakes</li>
                    <li>Did I mention funny little robots?</li>
                    <li>Attempting to get a job in the Robotics field</li>
            <img src="https://media.tenor.com/JqjtUxrkuzsAAAAi/robot-dance.gif" width="100" height="100" alt="description of myfile.gif" /> 
        <br>That's it really! I might update this, who knows xD!!!
        </p>
</html>